@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

:root {
    background-color: rgb(20, 17, 18);
    font-size: 65%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'ZCOOL XiaoWei', serif; ;
    color: white;
}

h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 6rem;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn-index {
    font-size: 2.5rem;
    padding: 2.2rem 0;
    width: 31rem;
    text-align: center;
    margin-bottom: 1.1rem;
    text-decoration: none;
    color: whitesmoke;
    background: linear-gradient(310deg, rgb(104 21 8 / 0%) 0%, rgb(235 188 192) 100%);
    border-radius: 5px;
    margin-left: 5rem;
}

.btn-index:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.3rem 0 rgba(219, 214, 203, 0.7);
    transition: transform 160ms;
    transform: scale(1.04);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.rem 0 rgba(219, 214, 203, 0.7);
}

.btn {
    font-size: 2.5rem;
    padding: 2.2rem 0;
    width: 31rem;
    text-align: center;
    margin-bottom: 1.1rem;
    text-decoration: none;
    color: whitesmoke;
    background: linear-gradient(310deg, rgb(104 21 8 / 0%) 0%, rgb(235 188 192) 100%);
    border-radius: 5px;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.8rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 19rem;
    height: 3rem;
    border: 0.3rem solid rgb(255, 255, 0);
    margin-top: 1.8rem;
    border-radius: 3.5rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(255, 255, 0);
    width: 0%;
}

.container-leaderboard, .container-leaderboard-button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2.5rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.9rem;
    width: 100%;
    border-radius: 5px;
    font-size: 2.8rem;
    min-width: 78rem;
    background: rgb(124 109 87);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.3rem 0 rgb(126, 112, 92, 0.7);
    transform: scale(1.04);
}

.choice-prefix {
    padding: 1.8rem 2.5rem;
}

.choice-text {
    padding: 1.8rem;
    width: 100%;
}

form {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.9rem 0;
    font-size: 2rem;
    text-align: center;
}

form > input {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.9rem 0;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
}

#leaderboard {
    font-size: 2.5rem;
}